/* Write your CSS here */
.container {
  background-color: #07080c;
  color: white;
  font-family: 'Roboto';
  text-align: center;
  padding: 30px;
}
.button1 {
  width: 98px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin: 10px;
  border-radius: 10px;
  background-color: #0b69ff;
}
.button2 {
  width: 98px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin: 10px;
  border-radius: 10px;
  border: solid white 2px;
  text-align: center;
  background-color: transparent;
}
.heading {
  font-size: 35px;
}
.image {
  width: 300px;
}
